// terminal
.terminal pre {
    font-family: Menlo,Consolas,Monaco;
    background-color: #444;
    color: #fff;
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 1.3;
    text-align: left;
    word-break: break-word;
    overflow: auto;
}