<%# ページ固有の変数 %>
<%
const localData = {
	pageTitle: "Sample Page3",
	pageBodyId: "page-sample_page3",
	toRoot: "./../../"
};
%>
<%# サイト全体の変数 %>
<% include(localData.toRoot + "../data/_data"); const globalData = getData(); %>
<%
const data = Object.assign(globalData, localData);
%>
<% console.log(data); %>

<%- include(data.toRoot + "../partial/_header", {data:data}); %>

<header class="hero">
	<div class="hero-image-container">
		<img src="<%= data.toRoot %>assets/sample/page3/illustration-2246804_1920.jpg">
		<div class="hero-background_image-filter" />
	</div>
	<div class="common-container">
		<h1>Chlorobo Game Fes 2020</h1>
		<p>コロナ渦を逆手に取る同人ゲームフェス開幕。（架空サイトです）</p>
		<a class="button-link-arrow">投稿する</a>
		<a class="button-link-arrow">プレイする</a>
	</div>
</header>

<section class="section-introduction">
	<div class="common-container">
		<header class="section-header">
			<h3>自粛せずに創作しよう</h3>
		</header>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</section>

<section class="section-feature">
	<div class="common-container">
		<header class="section-header">
			<h3>特徴</h3>
			<p>いろいろ変わってます。</p>
		</header>
		<div class="l-row">
			<div class="l-span4">
				<h4>優勝賞金5万円</h4>
				<p>最優秀作品には優勝賞金5万円を差し上げます。Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				</p>
			</div>
			<div class="l-span4">
				<h4>例年多数の作品＆レビュー</h4>
				<p>毎年多数のクリエイター、プレイヤーが参加してくれています。昨年は100を超える作品と1500のレビューで大盛況でした！</p>
			</div>
			<div class="l-span4">
				<h4>テーマは「家」</h4>
				<p>時代背景を踏まえ今年のテーマは「家」。家からアイデアを広げ様々な作品を作りましょう！</p>
			</div>
		</div>
	</div>
</section>

<section class="section-award">
	<div class="common-container">
		<header class="section-header">
			<h3>表彰</h3>
		</header>
		<div class="l-row">
			<div class="l-span4">
				<h4>最優秀賞</h4>
				<p>すべての作品の中から1作品を選出します。</p>
			</div>
			<div class="l-span4">
				<h4>優秀賞</h4>
				<p>最優秀賞受賞の作品以外の中から3作品を選出します。</p>
			</div>
			<div class="l-span4">
				<h4>特別賞</h4>
				<p>最優秀賞・優秀賞受賞の作品以外の中から光るものがある数作品を選出します。</p>
			</div>
		</div>
	</div>
</section>


<section class="section-award">
	<div class="common-container">
		<header class="section-header">
			<h3>現在の作品一覧</h3>
		</header>
		<a class="button-link-arrow">作品一覧をみる</a>
	</div>
</section>


<section class="section-special_feature">
	<div class="common-container">
		<header class="section-header">
			<h3>特集</h3>
			<div class="l-row">
				<div class="l-span6">
					<h4>昨年の優勝者十五夜レギュラーさんインタビュー</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<a class="button-link-arrow">詳細をみる</a>
				</div>
				<div class="l-span6">
					<h4>GameFes2020開幕に向けての運営奮闘記</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<a class="button-link-arrow">詳細をみる</a>
				</div>
			</div>
		</header>
	</div>
</section>

<section class="section-schedule">
	<div class="common-container">
		<header class="section-header">
			<h3>スケジュール</h3>
		</header>
		<table>
			<tr>
				<th>日時</th>
				<th>予定</th>
			</tr>
			<tr>
				<td>2020/09/01 12:00</td>
				<td>作品受付開始</td>
			</tr>
			<tr>
				<td>2020/10/20 12:00</td>
				<td>作品公開開始</td>
			</tr>
			<tr>
				<td>2020/11/20 12:00</td>
				<td>作品受付終了<br>投票受付開始</td>
			</tr>
			<tr>
				<td>2020/12/20 12:00</td>
				<td>作品公開終了</td>
			</tr>
			<tr>
				<td>2020/12/23 12:00</td>
				<td>投票受付終了</td>
			</tr>
			<tr>
				<td>2020/12/26 12:00</td>
				<td>表彰<br>総括</td>
			</tr>

		</table>
	</div>
</section>

<section class="section-rule">
	<div class="common-container">
		<header class="section-header">
			<h3>ルール</h3>
		</header>
		<ul>
			<li>「家」をテーマにした作品であること</li>
			<li>未公開の作品であること</li>
			<li>完全無料で最後まで遊べること
				<ul>
					<li>課金制度がないこと</li>
					<li>体験版でないこと</li>
				</ul>
			</li>
			<li>著作権保護法等の法律を遵守していること</li>
			<li>オリジナル作品であること</li>
			<li>誹謗中傷を含まないこと</li>
			<li>政治的主張を含まないこと</li>
		</ul>
	</div>
</section>

<section class="section-join">
	<div class="common-container">
		<header class="section-header">
			<h3>参加する</h3>
		</header>
		<div class="l-row">
			<div class="l-span6">
				<h4>クリエイターの方</h4>
				<a class="button-link-arrow">投稿する</a>
			</div>
			<div class="l-span6">
				<h4>プレイヤーの方</h4>
				<a class="button-link-arrow">プレイする</a>
			</div>
		</div>
	</div>
</section>




<%- include(data.toRoot + "../partial/_footer", {data:data}); %>