<%# ページ固有の変数 %>
<%
const localData = {
	pageTitle: "Sample About",
	pageBodyId: "page-sample_about",
	toRoot: "./../../"
};
%>
<%# サイト全体の変数 %>
<% include(localData.toRoot + "../data/_data"); const globalData = getData(); %>
<%
const data = Object.assign(globalData, localData);
%>
<% console.log(data); %>

<%- include(data.toRoot + "../partial/_header", {data:data}); %>



<header class="hero">
	<div class="common-container">
		<h1>About me</h1>
	</div>
</header>

<section class="section-overview">
	<div class="common-container">
		<header class="section-header">
			<h2>サンプル太郎</h2>
		</header>
		<p>サンプルページのために生まれたキャラクターです。</p>
		
	</div>
</section>


<%- include(data.toRoot + "../partial/_footer", {data:data}); %>