// page3 page
#page-sample_page3 {
	.hero {
		position: relative;
		max-height: calc(calc( var(--vh, 1vh) * 100) - #{$globalheader-height});
		.hero-image-container {
			position: relative;
			display: inline-block;
			margin: 0;
		}
		.hero-background_image-filter {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
		.common-container {
			min-width: 300px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			-webkit-transform: translateY(-50%) translateX(-50%);
			margin:0;
			padding:0;
		}
		img {
			max-height: calc(calc( var(--vh, 1vh) * 100) - #{$globalheader-height});
			vertical-align:bottom; /*改行コードが文字として認識されてしまいフォントサイズの幅を持つバグへの対処*/
		}
	}

	.section-award {
		background: url(../assets/sample/page3/giorgio-trovato-_XTY6lD8jgM-unsplash.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		color: $palette-pearlWhite;
		.background_image-filter {
			background-color: rgba(0,0,0,0.7);
		}
	}
	.section-special_feature {
		background: url(../assets/sample/page3/illustration-2246804_1920.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		color: $palette-pearlWhite;
		.background_image-filter {
			background-color: rgba(0,0,0,0.7);
		}
	}
}
