<%# サイト全体の変数 %>
<% include("data/_data"); const globalData = getData(); %>
<%# ページ固有の変数 %>
<%
const localData = {
	pageTitle: "Index",
	pageBodyId: "page-index"
};

const data = Object.assign(globalData, localData);
%>
<% console.log(data); %>

<%- include("partial/_header", {data:data}); %>


<header class="hero">
	<div class="common-container">
		<p>サンプルサイトです</p>
		<h1><div class='arrow_box'>Sample!</div></h1>
		<img src="assets/index_top_hero.png">
	</div>
</header>

<section class="section-pickup">
	<div class=common-container>
		<header class="section-header">
			<h2>Pick UP</h2>
		</header>
		<div class="l-row">
			<div class="l-span6">
				<img src="assets/common_dummy_640x480.png">
				<div>Dummy</div>
			</div>
			<div class="l-span6">
				<img src="assets/common_dummy_640x480.png">
				<div>Dummy</div>
			</div>
		</div>
	</div>
</section>


<%- include("partial/_footer", {data:data}); %>