<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title><%= data.pageTitle %> - <%= data.siteName %></title>
  
  <link rel="stylesheet" href="css/style.css" />
</head>

<body id=<%= data.pageBodyId %>>

  <nav class="globalHeader">
    <div class="l-container">
      <div class="globalHeader-row">
        <div class="globalHeader-left">
          <a class="navbar-brand" href="index.html">Sample</a>
        </div>
        <div class="globalHeader-right">
          <ul class="navbar-ul">
            <li>
              <a href="about.html">
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="globalHeader-blank"></div>
  