<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title><%= data.pageTitle %> - <%= data.siteName %></title>

  <link rel="stylesheet" href="css/style.css" />
  <script>
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
  </script>
</head>

<body id=<%= data.pageBodyId %>>

  <header class="globalHeader">
    <nav>
      <div class="common-container">
        <div class="globalHeader-row">
          <div class="globalHeader-left">
            <a class="navbar-brand" href="index.html">Sample</a>
          </div>
          <div class="globalHeader-right">
            <ul class="navbar-ul">
              <li>
                <a href="about.html">
                  About
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="globalHeader-blank"></div>
  <div id="main">