<%# ページ固有の変数 %>
<%
const localData = {
	pageTitle: "Sample Page2",
	pageBodyId: "page-sample_page2",
	toRoot: "./../../"
};
%>
<%# サイト全体の変数 %>
<% include(localData.toRoot + "../data/_data"); const globalData = getData(); %>
<%
const data = Object.assign(globalData, localData);
%>
<% console.log(data); %>

<%- include(data.toRoot + "../partial/_header", {data:data}); %>


<header class="hero">
	<div class="common-container">
		<h1>Page2</h1>
	</div>
</header>


<section class="section-xxx1">
	<div class="common-container">
		<header class="section-header">
			<span class="section-header-badge">Lorem ipsum</span>
			<h2>XXX</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</header>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</section>

<section class="section-xxx2">
	<div class="background_image-filter">
		<div class="common-container">
			<header class="section-header">
				<h2>XXX</h2>
			</header>
			<div class="l-row">
				<div class="l-span6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a class="button-link-arrow">XXX</a>
				</div>
				<div class="l-span6">
					<figure>
						<img src="<%= data.toRoot %>assets/sample/common_dummy_640x480.png">
						<figcaption>Dummy</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-xxx3">
	<div class="common-container">
		<header class="section-header">
			<h2>XXX</h2>
		</header>

		<div class="l-row">
			<div class="l-span8">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<div class="terminal">
					<pre>
$ cd xxx
$ npm install
$ npm start</pre>
				</div>
			</div>
			<div class="l-span4">
				<ul class="tree_menu">
					<li>fafaf
						<ul>
							<li>aaa
								<ul>
									<li>aaa</li>
									<li>aaa</li>
									<li>aaa</li>
								</ul>
							</li>
							<li>aaa<ul>
									<li>aaa</li>
								</ul>
							</li>
							<li>aaa</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
</section>


<%- include(data.toRoot + "../partial/_footer", {data:data}); %>